<footer >
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3 class="text-center fpadding">Contacto</h3>
        <hr>
        <p>info@rotulosrolux.es</p>
        <p>P.I. Sierra Sur, C/Anisados, 6 A</p>
        <p>Estepa (Sevilla)</p>
        <h4>Teléfonos</h4>
        <p>606 758 721</p>
        <p>696 835 367</p>

      </div>
      <div class="col-md-3">
        <h3 class="text-center fpadding">Síguenos</h3>
        <hr>
        <a href="https://twitter.com/rotulosrolux" target="_blank"><img src="assets/img/App-Twitter-icon.png"  class="imgRRSS" alt="Icono de Twitter"></a>
        <a href="https://facebook.com" target="_blank"><img src="assets/img/Facebook_icon.png" class="imgRRSS" alt="Icono de Facebook"></a>
      </div>

      <div class="col-md-3">
        <h3 class="text-center fpadding">Merchandaising</h3>
        <hr>
        <!-- <a href="https://generalcatalogue2018.eu/it/#page/-"><span>Catálogo Makito</span></a>
        <br>
        <a href="http://workteam.com/catalogo.php"><span>Catálogo Workteam</span></a> -->
      </div>
    </div>

  </div>
</footer>
  