<!-- <nav class="navbar navbar-expand-lg navstyle">
  <ul class="nav nav-justified">
    <li class="nav-item">
      <a class="nav-link" href="index.html">Inicio</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Servicios</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="impDig.html">Impresión digital</a>
        <a class="dropdown-item" href="rotEst.html">Rótulos de establecimientos</a>
        <a class="dropdown-item" href="rotVeh.html">Rótulos en vehículos</a>
        <a class="dropdown-item" href="gallery.html">Decoración</a>
        <a class="dropdown-item" href="gallery.html">Vallas publicitarias</a>
        <a class="dropdown-item" href="gallery2.html">Ferias y exposiciones</a>
        <a class="dropdown-item" href="gallery.html">Artículos publicitarios</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="us.html">Sobre nosotros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="budget.html">Presupuesto</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="contact.html">Contacto</a>
    </li>

  </ul>
</nav> -->
<div class="contain">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
    <links>
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link waves-light" mdbWavesEffect routerLink="/inicio">Inicio
              <span class="sr-only">(current)</span></a>
          </li>
          <!-- Dropdown -->
          <li class="nav-item dropdown" dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            Servicios<span class="caret"></span></a>
            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                <a class="dropdown-item waves-light" mdbWavesEffect routerLink="servicios/impresion-digital">Impresión digital</a>
                <a class="dropdown-item waves-light" mdbWavesEffect routerLink="servicios/rotulos-establecimientos">Rótulos de establecimientos</a>
                <a class="dropdown-item waves-light" mdbWavesEffect routerLink="servicios/rotulos-vehiculos">Rótulos en vehículos</a>
                <a class="dropdown-item waves-light" mdbWavesEffect routerLink="servicios/decoracion">Decoración</a>
                <a class="dropdown-item waves-light" mdbWavesEffect routerLink="servicios/vallas-publicitarias">Vallas publicitarias</a>
                <a class="dropdown-item waves-light" mdbWavesEffect routerLink="servicios/ferias-y-exposiciones">Ferias y exposiciones</a>
                <a class="dropdown-item waves-light" mdbWavesEffect routerLink="servicios/articulos-publicitarios">Artículos publicitarios</a>
            </div>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect routerLink="/nosotros">Sobre nosotros</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect routerLink="/presupuesto">Presupuesto</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect routerLink="/contacto">Contacto</a>
          </li>
        </ul>
    </links>
  </mdb-navbar>
</div>