.navbar{
    background-color: rgba(191, 191, 191, 0.6) !important;
    font-weight: 500;
    font-size: 18px;
}


.collapse{
    margin-left: 10%;
}

.liContacto{
    padding-right: 10%;
}

.aVestuario{
    color: yellow !important;
    font-size: 20px;
}
