<div class="container content">
  <div class="col-md-12" id="text">
    <h2>Quiénes somos</h2>
    <div class="row">
      <div class="col-md-6">
        <p>Desde su creación en 2004, Rótulos Rolux presta servicio en el ámbito
          de la comunicación visual con la máxima calidad y al mejor precio.
          Contacte con nosotros y solicite presupuesto.
        </p>
        <p>Estamos en el P.I. Sierrasur, C/Anisados, 6.</p>
        <p>info@rotulosrolux.es/606758721 - 955912795 - 696835367</p>
      </div>
      <div class="col-md-6">
        <img src="assets/img/nosotros.jpg" class="img-fluid rounded mx-auto d-block" alt="Imagen externa del local">
      </div>
    </div>
  </div>
</div>