<div class="container">
    <div class="col-md-12" id="text">
      <div class="row">
        <div class="col-md-12">
          <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque posuere tellus egestas erat dignissim, ac accumsan orci aliquam.
            Integer quis tellus condimentum, fringilla ipsum vel, fermentum diam. Mauris sit amet purus dapibus, posuere elit a, commodo est.
            Ut finibus neque neque, commodo molestie turpis vulputate at. Etiam nec elit luctus, varius urna eu, pulvinar mauris. Morbi egestas
            justo non est varius, vel semper diam eleifend. Curabitur quis purus id risus interdum luctus.
          </p>

          <p class="text-justify">Quisque nibh urna, ultricies nec velit ut,
            accumsan fringilla risus. Pellentesque at nisi laoreet eros ultrices ultricies. Vestibulum luctus purus vel ultricies mollis. Nullam tempor
            tempor ligula, vitae viverra risus volutpat vitae. Praesent vulputate sapien lorem, nec tempor orci feugiat nec. Pellentesque habitant morbi
            tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus vitae efficitur erat.
          </p>

          <p class="text-justify">Quisque nibh urna, ultricies nec velit ut,
              accumsan fringilla risus. Pellentesque at nisi laoreet eros ultrices ultricies. Vestibulum luctus purus vel ultricies mollis. Nullam tempor
              tempor ligula, vitae viverra risus volutpat vitae. Praesent vulputate sapien lorem, nec tempor orci feugiat nec. Pellentesque habitant morbi
              tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus vitae efficitur erat.
          </p>

          <p class="text-justify">Quisque nibh urna, ultricies nec velit ut,
              accumsan fringilla risus. Pellentesque at nisi laoreet eros ultrices ultricies. Vestibulum luctus purus vel ultricies mollis. Nullam tempor
              tempor ligula, vitae viverra risus volutpat vitae. Praesent vulputate sapien lorem, nec tempor orci feugiat nec. Pellentesque habitant morbi
              tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus vitae efficitur erat.
          </p>
          
        </div>

        <!-- <div class="col-md-6">
          <img src="img/1.jpg" class="imagen rounded img-responsive">
        </div> -->

      </div>
    </div>
</div>