/* You can add global styles to this file, and also import other style files */
#body{
    background-image: url(assets/img/tienda.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}